:root {
  --title-color: #303030;
  --main-text-color: #555555;
  --accent-color: #ff6c00;
  --light-text-color: #9da4bd;
  --white-color: #ffffff;
  --main-bg-color: #e5e5e5;
  --element-bg-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../images/bg-header1x.jpg);
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 31px;
}

.topnav {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

#myLinks {
  display: none;
  background-color: #fff;
  width: 40vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 80px;
}

#myLinks a {
  color: var(--accent-color);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* */

.mobile-container {
  max-width: 480px;
  padding: 0 31px;
}

#menu-burger {
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
}

.line1 {
  width: 25px;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  margin-bottom: 7px;
  top: 5px;
  left: 5px;
}

.line2 {
  width: 25px;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  top: 15px;
  left: 5px;
}

.line3 {
  width: 25px;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  top: 15px;
  left: 5px;
  margin-top: 10px;
}

.open .line1 {
  background-color: var(--accent-color);
}

.open .line2 {
  background-color: var(--accent-color);
  display: none;
}
.open .line3 {
  background-color: var(--accent-color);
}

a.icon {
  z-index: 1;
}

h1 {
  color: var(--white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.feature {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: flex;
}

.feature.header {
  color: rgba(157, 164, 189, 0.6);
}

.feature.about {
  color: var(--title-color);
  margin-bottom: 20px;
}

.line-decoration {
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  display: flex;
}

.line-decoration.about {
  background-color: var(--title-color);
}

.header-text {
  padding-left: 31px;
  margin-top: 112px;
}

.text-with-line {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.feature-description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
  display: block;
  width: 306px;
}

section {
  padding: 84px 0;
}

.second-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.second-title.dark {
  color: var(--title-color);
  width: 330px;
  margin-bottom: 20px;
}

.second-title.white {
  color: var(--white-color);
  margin-top: 20px;
  font-size: 42px;
  line-height: 1.16;
} 


.text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}

.text.about {
  color: #555555;
  margin-top: 20px;
}

button {
  width: 160px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
}

.button.about {
  margin-top: 40px;
}

.our-service {
  background: linear-gradient(rgba(0, 0, 0, 0.912), rgba(0, 0, 0, 0.837)), url(../images/bg-about.jpg);
}

.dark-container {
  padding: 0 31px;
}

.white-title {

}


